snippet pc "Validate for plugins packages"
local present, $1 = pcall(require, '$1')

if not present then return end
endsnippet

snippet desc "describe for tests"
describe('$0', function()

end)
endsnippet

snippet it "describe for tests"
it('$0', function()

end)
endsnippet


